@import '../0-app/variables.scss';

.evenements-container {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-align: center;

 

  .events-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
  }

  .event-block {
    background: #d9c29c;
    border-radius: 18px;
 
    width: 100%;
    max-width: 320px;
    padding: 2rem 1.8rem;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    user-select: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      transform: translateY(-6px) scale(1.04);
      box-shadow:
        0 14px 20px rgba(101, 56, 10, 0.5),
        inset 0 0 12px rgba(220, 190, 140, 0.7);
    }

    &.left {
      background: linear-gradient(135deg, #e1d3b0, #a16327); /* plus clair sable rouille */
          background: $important;

    }

    &.right {
      background: $secondary; /* plus sombre marron foncé */
    }

    .event-title {
      font-size: 2.1rem;
      font-weight: 900;
      margin-bottom: 1.3rem;
      color: whitesmoke; /* marron foncé */
      // text-shadow: 1px 1px 1px #d9c49f; /* doré sable clair */
    }

    .event-desc {
      font-size: 1.1rem;
      line-height: 1.4;
      color: wheat; /* marron chaud */
      font-style: italic;
      max-width: 280px;
    }
  }
}
