

.addForm-container
{
    display: flex;
    gap: 3vw;
    width: 80vw;
    margin: 0 auto 5vw;
    align-items: center;
}
.submission-container
{
    width: 80vw;
    margin: 0 auto 10vw;
    .submission-title 
    {
        font-size: 2.5vw;
        font-weight: bold;
        margin-bottom: 1vw;
    }
}
.category-manager 
{
    display: flex;
    width: 70vw ;
    gap: 10vw;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;

}