
    .admin {
        padding: 20px;
        font-family: Arial, sans-serif;
        max-width: 600px;
        margin: 10vw auto;
      }
      
      .search-input {
        padding: 10px;
        width: 100%;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
      }
      
      .userlist-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      
      .userlist-card {
        position: relative;
        padding: 15px;
        border: 1px solid #eee;
        border-radius: 8px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: transform 0.1s ease-in-out, background-color 0.2s ease;
      }
    
      .add 
      {
        position: absolute;
        right: 1vw;
        bottom: 50%;
        transform: translateY(50%);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5vw;
        color: white;
        height: 3vw;
        width:3vw;
        background-color: black;
        border-radius: 5vw;
        transition: all ease 0.3s;
        &:hover 
        {
            height: 3.5vw;
            width: 3.5vw;
        }
      }
   
.userlist-card:hover {
    background-color: #f9f9f9;
  }
  
  .userlist-hint {
    color: #888;
    font-size: 12px;
  }
  .add-defi-form {
    margin-top: 40px;
    padding: 20px;
    border: 2px solid #5c3d1a;
    border-radius: 8px;
    background-color: #f9f3e9;
  
    h2 {
      margin-bottom: 15px;
      font-family: 'Special Elite', serif;
    }
  
    form {
      display: flex;
      flex-direction: column;
  
      input, textarea {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-family: 'Arial', sans-serif;
      }
  
      textarea {
        height: 80px;
        resize: none;
      }
  
      button {
        background-color: #8b4513;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
        font-family: 'Special Elite', serif;
  
        &:hover {
          background-color: #a0522d;
        }
      }
    }
  
    .message {
      margin-top: 10px;
      color: #333;
    }
  }
  